@import '../node_modules/ag-grid-community/styles/ag-grid.css';
@import '../node_modules/ag-grid-community/styles/ag-theme-quartz.css';
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";


:root {
    --font: "Verdana, Geneva, Tahoma, sans-serif";
    --small-5px: 5px;
    --small-6px: 6px;
    --small-8px: 8px;
    --small-12px: 12px;
    --small-14px: 14px;
    --small-16px: 16px;
    --small-18px: 18px;
    --medium-20px: 20px;
    --medium-24px: 24px;
}

.saras-theme {
    --primary-50: #E8F1FC;
    --primary-100: #B8D4F7;
    --primary-200: #96C0F3;
    --primary-300: #66A2ED;
    --primary-400: #4992E9;
    --primary-500: #1B77E4;
    --primary-600: #196CCF;
    --primary-700: #1354A2;
    --primary-800: #0F417D;
    --primary-900: #0B3160;
    --secondary-50: #FFF3EB;
    --secondary-100: #FFD8C0;
    --secondary-200: #FFC6A2;
    --secondary-300: #FEAB78;
    --secondary-400: #FE9B5D;
    --secondary-500: #FE8235;
    --secondary-600: #E77630;
    --secondary-700: #B45C26;
    --secondary-800: #8C481D;
    --secondary-900: #6B3716;
    --grey-50: #E9E9EB;
    --grey-100: #BABDC1;
    --grey-200: #989CA3;
    --grey-300: #697079;
    --grey-400: #4C545F;
    --grey-500: #1F2937;
    --grey-600: #1C2532;
    --grey-700: #161D27;
    --grey-800: #11161E;
    --grey-900: #0D1117;
    --semantic-success-50: #EBF5E9;
    --semantic-success-100: #C0DEBA;
    --semantic-success-200: #A1CF98;
    --semantic-success-300: #76B969;
    --semantic-success-400: #5CAB4C;
    --semantic-success-500: #33961F;
    --semantic-success-600: #2E891C;
    --semantic-success-700: #246B16;
    --semantic-success-800: #1C5311;
    --semantic-success-900: #153F0D;
    --semantic-error-50: #F8E9E9;
    --semantic-error-100: #EBBCB9;
    --semantic-error-200: #E19C98;
    --semantic-error-300: #D36E68;
    --semantic-error-400: #CA524B;
    --semantic-error-500: #BD271E;
    --semantic-error-600: #AC231B;
    --semantic-error-700: #861C15;
    --semantic-error-800: #681511;
    --semantic-error-900: #4F100D;
    --semantic-purple-50: #F3EFFD;
    --semantic-purple-100: #D8CCFA;
    --semantic-purple-200: #C6B4F7;
    --semantic-purple-300: #AB92F4;
    --semantic-purple-400: #9B7DF1;
    --semantic-purple-500: #815BED;
    --semantic-purple-600: #7654D9;
    --semantic-purple-700: #5C41A9;
    --semantic-purple-800: #483383;
    --semantic-purple-900: #372764;
    --semantic-yellow-50: #FEF6E6;
    --semantic-yellow-100: #FBE2B3;
    --semantic-yellow-200: #F9D58E;
    --semantic-yellow-300: #F6C15A;
    --semantic-yellow-400: #F5B53A;
    --text-highemphasis: #1B1D20;
    --text-mediumemphasis: #697079;
    --text-lowemphasis: #989CA3;
    --text-white: #FFFFFF;
    --semantic-yellow-500: #F2A209;
    --semantic-yellow-600: #DC9408;
    --semantic-yellow-700: #AC7406;
    --semantic-yellow-800: #855A05;
    --structural-white: #FFFFFF;
    --icon-grey1: #757575;
    --structural-neutral1: #F9F9F9;
    font-family: var(--font);
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    width: 100%;
}
